In [ ]:
#linea de comentarios
""" tres comillas comentario"""
x=5
X=6

print(X)
print(x)
print(x+10)
x+X

In [ ]:
print("dami",x,"lumi",X)

In [ ]:
x=20
i=14.6
dia="martes"
dia2="jueves"
dia3="domingo"

In [ ]:
%whos
#como ver los objetos en el kernel

In [ ]:
#como eliminar un opbjeto del kernel
del dia, dia2

In [ ]:
dia="MARTES"
dia.lower()

In [ ]:
dia.replace("A","@")

In [ ]:
#una caja de mensaje para escribir un valor, funcion input
valor = input("escriba su nombre")
print("tu nombre es:",valor)

In [ ]:
#con int() puedo convertir un texto que es numero en numero entero
#con float() pudo convertir un numero que es texto en numero decimal
dia="Lunes"
#como ver que clase es
type(dia)
#cmo ver los metodos, atributos y metodos especiales__init__
dir(dia)

In [ ]:
#estructuras en python, de datos basicas, 
#listas, tuplas, diccionarios, conjuntos
#listas coleccion de elementos ordenados y mutables (se pueden modificar despues de ser creados), 
#son hetereogeneas, pueden contener diferentes tipos de datos, la lista se asigna con corchetes, una lista vacia
milista=[]
lista2=["lunes","martes",12,"miercoles",True]
lista2
#como ver un elemento conreto de una lista, tenemo que poner entre [] el indice y termina en -1
lista2[0]
#como añadir elementos a una lista, 2 maneras con append con insert
#append añade un elemento al final 
#insert en una posicion especifica
lista2.append("Enero")
lista2.insert(0,"Febrero")
lista2
#como se ordena una lista con sort
lista3=[15,25,3,9,64]
lista3.sort()
print(lista3)

#como eliminar todos los elementos de la lista
lista3.clear()
lista3

#con remove() eliminamos un elemento especifico
lista3.remove(15)
print(lista3) 
del lista2[4]
print(lista2)

PRACTICA 1: CREAR UNA LISTA QUE SE LLAME MESES, Y QUE CXONTENGA LOS MESE DE ENERO A JULIO, MENOS ABRIL, 
AÑADIREMOS AL FINAL DE LA LISTA AGOSTO, SEPTIEMBRE Y OCTUBE, INSERTAREMOS EN SU LUGAR EL MES DE ABRIL, 
AÑADIREMOS EL MES DE MAYO Y DE MARZO AL FINBAL, YDESPUES ELIMINAREMOS LOS MESES SOBRANTES PARA QUE NOS 
QUEDEN LOS MESES CORRECTOS, QUEREMOS VER LA LISTA DE MESES ORDENADO EN ORDEN ALFABETICO.

In [70]:
MESES = ["ENERO", "FEBRERO", "MARZO", "ABRIL", "MAYO", "JUNIO", "JULIO"]
MESES

['ENERO', 'FEBRERO', 'MARZO', 'ABRIL', 'MAYO', 'JUNIO', 'JULIO']

In [71]:
del MESES[3]
print(MESES)

['ENERO', 'FEBRERO', 'MARZO', 'MAYO', 'JUNIO', 'JULIO']

In [72]:
MESES.append("AGOSTO")
MESES

['ENERO', 'FEBRERO', 'MARZO', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO']

In [73]:
MESES.append("SEPTIEMBRE")
MESES

['ENERO', 'FEBRERO', 'MARZO', 'MAYO', 'JUNIO', 'JULIO', 'AGOSTO', 'SEPTIEMBRE']

In [74]:
MESES.append("OCTUBRE")
MESES

['ENERO',
 'FEBRERO',
 'MARZO',
 'MAYO',
 'JUNIO',
 'JULIO',
 'AGOSTO',
 'SEPTIEMBRE',
 'OCTUBRE']

In [75]:
MESES.insert(3,"ABRIL")
MESES

['ENERO',
 'FEBRERO',
 'MARZO',
 'ABRIL',
 'MAYO',
 'JUNIO',
 'JULIO',
 'AGOSTO',
 'SEPTIEMBRE',
 'OCTUBRE']

In [76]:
MESES.append("MAYO")
MESES
MESES.append("MARZO")
MESES

['ENERO',
 'FEBRERO',
 'MARZO',
 'ABRIL',
 'MAYO',
 'JUNIO',
 'JULIO',
 'AGOSTO',
 'SEPTIEMBRE',
 'OCTUBRE',
 'MAYO',
 'MARZO']

In [77]:
del MESES [10]
MESES

['ENERO',
 'FEBRERO',
 'MARZO',
 'ABRIL',
 'MAYO',
 'JUNIO',
 'JULIO',
 'AGOSTO',
 'SEPTIEMBRE',
 'OCTUBRE',
 'MARZO']

In [78]:
del MESES [10]
MESES

['ENERO',
 'FEBRERO',
 'MARZO',
 'ABRIL',
 'MAYO',
 'JUNIO',
 'JULIO',
 'AGOSTO',
 'SEPTIEMBRE',
 'OCTUBRE']

In [83]:
MESES_ORDENADOS = MESES
MESES_ORDENADOS.sort()
print(MESES_ORDENADOS)
len(MESES)

['ABRIL', 'AGOSTO', 'ENERO', 'FEBRERO', 'JULIO', 'JUNIO', 'MARZO', 'MAYO', 'OCTUBRE', 'SEPTIEMBRE']

10

In [99]:
#estructuras de control , el condicional if, el if analiza una condicion o prueba logica y si 
#se cumnple ejecuta una parte verdadera, o prueba logica, comparar valores mediante los operadores de comparacion
#> mayor que
#< Menor que
#>= Mayor o igual que
#<= Menor o igual que
#== Igual que
#!= distinto de

#las estructuras de control tiene : e identacion en las lineas siguientes
i = 15
if i>10:
    print("el valor mayor de 10")
else:
    print("el valor es menor o igual a 10")
print("terminado")

#si necesito mas opciones de devolucion usaremos elif

i:35
if i<20:
    print("entre 0 y <20")
    
elif i<40:
    print("entre 20 y <40")

else:
    print("mayor o = 40")

el valor mayor de 10
terminado
entre 0 y <20

PRACTICA2: MEDIANTE UNA ESTRUCTURA IF ... ELSE, MOSTRAR UN MENSAJE QUE PONGA EN NUMERO ENTERO X
ES MAS GRANDE DE 20 O EL NUMERO X NO ES MAS GRANDE DE 20, SI EL VALOR DE X LO ASIGNAMOS
MEDIANTE UN INPUT BOX

PRACTICA3: MEDIANTE UNA ESTRUCTURA IF ... ELSE, MOSTRAR UN MENSAJE QUE PONGA EN NUMERO DECIMAL X
ES MAS GRANDE DE 20 O EL NUMERO X NO ES MAS GRANDE DE 20, SI EL VALOR DE X LO ASIGNAMOS
MEDIANTE UN INPUT BOX

PRACTICA4: MEDIANTE UNA ESTRUCTURA IF ... ELSE. CALIFICAR UN NUMERO ENTERO OBTENIDOO POR INPUTBOX
QUE NOS LO CLASIFIQUE POR MULTIPLOS 25, "EL 37 ESTA COMPRENDIDO ENTRE 25-50", EMPEZANDO POR
EL 0 Y TERMINANDO POR EL 100, FUERA DE ESE RANGO MOSTRAR UN MENSAJE "NUMERO NO VALIDO"

In [ ]:
x=input("numero entero")

if int(x)>20:
    print("X ES MAS GRANDE DE 20")
else:
    print("X NO ES MAS GRANDE DE 20")
 

x=input("nuemro decimal")

if float(x)>20:
    print("EL NUEMRO",x "ES MAS GRANDE DE 20")
else:
    print("EL NUMERO",x, "NO ES MAS GRANDE DE 20")

X ES MAS GRANDE DE 20
X ES MAS GRANDE DE 20

In [126]:
#PRACTICA 4
x = int(input("Ponga un numero entero"))
if x<0:
        print("Numero no valido")
elif x<=25:
        print ("Numero entre 0-25")
elif x<=50:
        print("Numero entre >25-50")
elif x<=75:
        print("Numero entre >50-75")
elif x<=100:
        print("Numero entre >75-100")
else:
        print("Numero no valido")

Numero entre 0-25

In [130]:
#comparar 2 valores con la variable
x = 35

if 0<=x<=50:
    print("Todos los numeros entre 0-50")

if x>=0 and x<=50:
    print("Todos los numeros entre 0-50")

Todos los numeros entre 0-50
Todos los numeros entre 0-50

In [ ]:
#la estructura match
x = 1
match x:
    case 1:
        print("Vale 1")
    case 5:
        print("Vale 5")
    case default:
        print("Ninguno cumple")

Vale 1

PRACTICA 5: MEDIANTE UNA CAJA INPUT + MATCH ... CASE DEVOLVER EL DIA DE LA SEMANA EN LETRAS
EN FUNCION DEL NUMERO OBTENIO, DEL 1 AL 7

In [10]:
x = int(input("Ponga un numero del 1-7"))
match x:
    case 1:
        print("Lunes")
    case 2:
        print("Martes")
    case 3:
        print("Miercoles")
    case 4:
        print("Jueves")
    case 5:
        print("Viernes")
    case 6:
        print("Sabado")
    case 7:
        print("Domingo")
    case default:
        print("Ninguno cumple")

Viernes

In [12]:
#el bucle en python, un bucle es un codigo que se repite hasta que se cumple una condicion dada, 
#dos tipos de bucles, finitos (los que terminan si osi) y los infinitos, puede que termine o no, 
#los bucles seran finitos por que conocemos de antemano cuantas veces se repetiran, cada vez que 
#se ejecuta el codigo es una ITERACION, los bucles finitos siemrpe llevan asociada una variable 
iter = 0
for i in [1,2,3,4,5]:
    print("el numero es",i)
    iter = iter + 1
    #tambien se puede hacer asi inter+=1
print("el numero de iteraciones han sido", iter)

el numero es 1
el numero es 2
el numero es 3
el numero es 4
el numero es 5
el numero de iteraciones han sido 5